---
import { Icon } from 'astro-icon';
import Tags from '@components/Tags.astro';
const { data, url } = Astro.props;
---

<tr>
  <th>
    <a href={url} class='link flex'>
      {data.title}
      <Icon name='radix-icons:arrow-top-right' class='icon small lg-hidden' />
    </a>
  </th>
  <td><a href={url}>{data.year}</a></td>
  <td class='lg-visible'><Tags tags={data.tags} /></td>
  <td class='lg-visible'>
    <a href={url}>
      <Icon name='radix-icons:arrow-top-right' class='icon small' />
    </a>
  </td>
</tr>
<style>
  tr:hover a {
    color: var(--clr-link-hover);
  }

  tr:hover svg {
    fill: var(--clr-link-hover);
  }
</style>
