---
import Tags from '@components/Tags.astro';
const { project } = Astro.props;
---

<tr class='link'>
  <th>
    <a href={project.url} class='link'>
      {project.frontmatter.title}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 20 20'
        fill='currentColor'
        class='icon small lg-hidden'
      >
        <path
          fill-rule='evenodd'
          d='M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z'
          clip-rule='evenodd'></path>
      </svg>
    </a>
  </th>
  <td>{project.frontmatter.year}</td>
  <td class='lg-visible'><Tags tags={project.frontmatter.tags} /></td>
  <td class='lg-visible'>
    <a href={project.url}>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 20 20'
        class='icon small'
      >
        <path
          fill-rule='evenodd'
          d='M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z'
          clip-rule='evenodd'></path>
      </svg>
    </a>
  </td>
</tr>
<style>
  a {
    display: flex;
    gap: 1rem;
  }
</style>
