---
import { Icon } from 'astro-icon';
import Tags from '@components/Tags.astro';
const { mdFile } = Astro.props;
---

<li class='card link'>
  <a href={mdFile.frontmatter.url} target='_blank'>
    <div>
      <span class='link'
        >{mdFile.frontmatter.start} — {mdFile.frontmatter.end}</span
      >
      <header class='flex link'>
        {mdFile.frontmatter.position} · {mdFile.frontmatter.company}
        <Icon name='radix-icons:arrow-top-right' class='icon small lg-hidden' />
      </header>
      <mdFile.Content />
      <Tags tags={mdFile.frontmatter.tags} />
    </div>
  </a>
</li>
<style>
  @media screen and (max-width: 1024px) {
    li {
      border-bottom: 2px solid var(--clr-main-opaque);
    }
  }

  @media screen and (min-width: 1024px) {
    div:hover > .link {
      color: var(--clr-link-hover);
      transition: color 300ms ease;
    }
  }
</style>
