---
import Tags from '@components/Tags.astro';
const { mdFile } = Astro.props;
---

<li>
  <a href={mdFile.frontmatter.url}>
    <div>
      <span>{mdFile.frontmatter.start} — {mdFile.frontmatter.end}</span>
      <header class='link'>
        {mdFile.frontmatter.position} · {mdFile.frontmatter.company}
      </header>
      <mdFile.Content />
      <Tags tags={mdFile.frontmatter.tags} />
    </div>
  </a>
</li>
<style>
  li {
    padding-block: 1rem;
   
  }

  @media screen and (max-width: 600px) {
    li  {
      border-bottom: 2px solid var(--clr-main-opaque);
    }
  }
</style>
