---
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon';
import Tags from '@components/Tags.astro';
interface Props {
  mdFile: CollectionEntry<'WorkEx'>;
}
const { mdFile } = Astro.props;
const { Content } = await mdFile.render();
---

<li class='card link'>
  <a href={mdFile.data.url} target='_blank'>
    <div>
      <span class='link'>{mdFile.data.start} — {mdFile.data.end}</span>
      <header class='flex link'>
        {mdFile.data.position} · {mdFile.data.company}
        <Icon name='radix-icons:arrow-top-right' class='icon small lg-hidden' />
      </header>
      <Content />
      <Tags tags={mdFile.data.tags} />
    </div>
  </a>
</li>
<style>
  @media screen and (max-width: 1024px) {
    li {
      border-bottom: 2px solid var(--clr-main-opaque);
    }
  }

  @media screen and (min-width: 1024px) {
    div:hover > .link {
      color: var(--clr-link-hover);
      transition: color 300ms ease;
    }
  }
</style>
