---
import MainLayout from '../../layouts/MainLayout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
const projects = await Astro.glob('./*.md');
---

<html lang='en' data-theme='dark'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout>
      <Breadcrumb />
      <main>
        <table>
          <caption>Project Archives</caption>
          <thead>
            <tr>
              <th scope='col'>Project</th>
              <th scope='col'>Year</th>
              <th scope='col' class='lg-visible'>Built with</th>
              <th scope='col' class='lg-visible'></th>
            </tr>
          </thead>
          <tbody>
            {
              projects.map((project) => {
                return (
                  <tr>
                    <th scope='row' class='project-name flex'>
                      {project.frontmatter.title}
                      <a href={project.url} class='lg-hidden'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          viewBox='0 0 20 20'
                          fill='currentColor'
                          class='link-icon'
                        >
                          <path
                            fill-rule='evenodd'
                            d='M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z'
                            clip-rule='evenodd'
                          />
                        </svg>
                      </a>
                    </th>
                    <td>{project.frontmatter.year}</td>
                    <td class='lg-visible'>{project.frontmatter.tags}</td>
                    <td class='lg-visible'>
                      <a href={project.url}>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          viewBox='0 0 20 20'
                          class='link-icon'
                        >
                          <path
                            fill-rule='evenodd'
                            d='M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z'
                            clip-rule='evenodd'
                          />
                        </svg>
                      </a>
                    </td>
                  </tr>
                );
              })
            }
          </tbody>
        </table>
      </main>
    </MainLayout>
  </body>
</html>
<style>
  table {
    width: 100%;
  }

  th {
    text-align: start;
  }

  .project-name {
    gap: 1rem;
  }
</style>
