---
import '@styles/global.css';
import Tags from '@components/Tags.astro';
import Breadcrumb from '@components/Breadcrumb.astro';
import MainLayout from '@layouts/MainLayout.astro';
import Footer from '@components/Footer.astro';

const { frontmatter } = Astro.props;
---

<html lang='en' data-theme='dark'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <MainLayout>
      <div class='wrapper'>
        <Breadcrumb />
        <main>
          <h1>
            {frontmatter.title}
          </h1>
          {frontmatter.imageSrc && <img src={frontmatter.imageSrc} alt='' />}
          <div class='content'>
            <slot />
            <Tags tags={frontmatter.tags} />
          </div>
        </main>
      </div>
    </MainLayout>
    <Footer />
  </body>
</html>
<style>
  body {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    padding-top: 2rem;
    flex-grow: 1;
  }

  main {
    display: grid;
  }

  img {
    justify-self: center;
    width: 100%;
    max-width: 800px !important;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .wrapper {
      padding-top: 4rem;
    }
  }
  @media screen and (min-width: 600px) {
    .content {
      max-width: 65ch;
      justify-self: center;
    }
  }
</style>
